<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com-jernung-plugins-google-services"
        version="0.1.0">

  <name>Google Services Plugin</name>
  <description>A Cordova plugin for Google Services.</description>
  <author>Jernung, LLC</author>
  <license>MIT</license>
  <keywords>cordova,google,services</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <platform name="android">

    <hook type="after_prepare" src="hooks/android.js" />

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

  </platform>

</plugin>
